<div class="jumbotron">
    <h1 class="display-4 text-center">AIS, NMEA Decoder!</h1>
    <p class="lead text-center">This Is a Simple Decoder For NMEA Secuences.</p>
    <hr class="my-4">
    <p class="text-center">For Educational Purpose Only.</p>
</div>